/* CSS declarations go here */
* {
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: red;
}

/** header */
.header {
	width: 100%;
	height: 50px;
	background: yellow;
}

.header ul li {
	display: inline-block;
	width: 200px;
	height: 40px;
	border: 2px solid red;
	cursor: pointer;
}

.header ul li a {
	vertical-align: middle;
	text-align: center;
}

/** /header */


.footer {
	width: 100%;
	height: 100px;
	background: green;
}

.content {
	width: 100%;
	min-height: 300px;
	background: red;
	display: inline-block;
}


/* character_list */
.character_list {
	display: inline-block;
	width: 200px;
	float:left;
	padding: 5px;
	border: 2px solid black;

}
.character_list .title {
	font-size: 18px;
}
.character_list .character {
	padding-left: 15px;
	cursor: pointer;
}
.character_list .character.selected {
	font-weight: bold;
}

/* character_edit */
.character_edit {
	display: inline-block;
	float:left;
	padding: 5px;
}

.character_edit .main div span {
	display: inline-block;
	width: 150px;
	text-align: right;
	margin-right: 5px;
}
.character_edit .main div input {
	width: 120px;
}

.character_edit .props div span {
	display: inline-block;
	width: 110px;
	text-align: right;
	margin-right: 5px;
}
.character_edit .props div input {
	display: inline-block;
	width: 25px;
}

.character_edit .lvls div span {
	display: inline-block;;
	width: 150px;
	text-align: right;
	margin-right: 5px;
}
.character_edit .lvls div input {
	display: inline-block;;
	width: 100px;
}

.character_edit .buttons {

}

.character_edit .character_upsert,
.character_edit .character_delete,
.character_edit .character_clear {
	float: left;
	width: 100px;
	height: 60px;
	border: 2px solid black;
	background: transparent;
	cursor: pointer;
}

/** Fight page */
.fight_page .character {
	display: block;
	width: 100%;
	min-height: 200px;
}

.fight_page .character_info {
	width: 200px;
	display: inline-block;
	background: purple;
	vertical-align: top;
}

.fight_page .character_info .info {
	width: 130px;
}

.fight_page .character_info .rem,
.fight_page .character_info .add {
	border: 1px solid black;
	cursor: pointer;
	text-align: center;
	margin: 0 2px;
	width: 20px;
}

.fight_page .character_modifier {
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
	vertical-align: top;
}

.fight_page .character_modifier .info {
	width: 180px;
}

.fight_page .character_modifier .modifier_title div,
.fight_page .character_info .modifier_title div {
	display: inline-block;
}

.fight_page .character_modifier .hp .current {
	font-weight: bold;
}

.fight_page .character_modifier .value {
	width: 30px;
	background: gray;
	border: none;
	margin-right: 5px;
}

.fight_page .character_modifier .rem,
.fight_page .character_modifier .add {
	margin: 0 2px;
	width: 100px;
	border: 1px solid black;
	cursor: pointer;
	text-align: center;
}

.fight_page .hp {
	margin-bottom: 10px;
}

.fight_page .set_damage {
	display: inline-block;
	float:left;
}

.fight_page .exp {
	display: inline-block;
	float:left;
	margin-left: 5px;
}

.clear {
	float: clear;
}