/* CSS declarations go here */
* {
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: red;
}

/** header */
.header {
	width: 100%;
	height: 50px;
	background: yellow;
}

.header ul li {
	display: inline-block;
	width: 200px;
	height: 40px;
	border: 2px solid red;
	cursor: pointer;
}

.header ul li a {
	vertical-align: middle;
	text-align: center;
}

/** /header */


.footer {
	width: 100%;
	height: 100px;
	background: green;
}

.content {
	width: 100%;
	min-height: 300px;
	background: red;
	display: inline-block;
}