.spell_list {
	display: block;
	margin: 5px;
	padding: 5px;
	width: 100%;
}
.spell_list .spell {
	padding-left: 15px;
	cursor: pointer;
}
.spell_list .spell.selected {
	font-weight: bold;
}

.spell_list table {
}
.spell_list table tr td {
	text-align: center;
	padding: 2px 5px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.spell_list table tr td:first-child {
	border-left: 1px solid black;
}
.spell_list table tr td:last-child {
	border-right: 1px solid black;
}

.spell_edit {
	display: inline-block;
	padding: 5px;
}

.spell_edit .main div {
	text-align: right;
}
.spell_edit .main div span {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	margin-right: 5px;
}
.spell_edit .main div input {
	width: 120px;
}
.spell_edit .main div textarea {
	width: 120px !important;
	height: 150px !important;
	resize: none;
	font-size: 12px;
}

/** button */

.spell_edit .spell_upsert,
.spell_edit .spell_delete,
.spell_edit .spell_clear {
	float: left;
	width: 100px;
}