/** monster_list */
.spell_list {
	display: inline-block;
	width: 200px;
	float:left;
	margin: 5px;
	padding: 5px;
}
.spell_list .spell {
	padding-left: 15px;
	cursor: pointer;
}
.spell_list .spell.selected {
	font-weight: bold;
}

/** monster_edit */
.spell_edit {
	display: inline-block;
	float:left;
	padding: 5px;
}

.spell_edit .main div span {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	text-align: right;
	margin-right: 5px;
}
.spell_edit .main div input {
	width: 120px;
}
.spell_edit .main div textarea {
	width: 120px !important;
	height: 150px !important;
	resize: none;
	font-size: 12px;
}

/** button */

.spell_edit .spell_upsert,
.spell_edit .spell_delete,
.spell_edit .spell_clear {
	float: left;
	width: 100px;
}