.battle_field {
	display: block;
	width: 600px;
	height: 600px;
}

.battle_field .row {
	display: block;
}

.battle_field .cell {
	display: inline-block;
	border: 1px solid black;
	background: #b7b7b7;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	float: left;
}
.battle_field .cell:hover {
	background: #d6d6d6;
}