/** monster_list */
.monster_list,
.race_list {
	display: inline-block;
	width: 200px;
	float:left;
	margin: 5px;
	padding: 5px;
}
.monster_list .monster,
.race_list .race {
	padding-left: 15px;
	cursor: pointer;
}
.monster_list .monster.selected,
.race_list .race.selected {
	font-weight: bold;
}

/** monster_edit */
.monster_edit {
	display: inline-block;
	float:left;
	padding: 5px;
}

.monster_edit .main div span {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	text-align: right;
	margin-right: 5px;
}
.monster_edit .main div input {
	width: 120px;
}
.monster_edit .main div textarea {
	width: 120px !important;
	height: 150px !important;
	resize: none;
	font-size: 12px;
}

/** button */

.monster_edit .monster_upsert,
.monster_edit .monster_delete,
.monster_edit .monster_clear {
	float: left;
	width: 100px;
}