/** Fight page */
.fight_page .character {
	display: inline-block;
	margin: 5px;
	padding: 5px;
}

.fight_page .character .title .stats_button {
	display: inline-block;
	cursor: pointer;
}

.fight_page .character .title .character_box,
.fight_page .character .hp .character_box {
	position: absolute;
}

.fight_page .character .hp {
	margin: 5px 0;
}

.fight_page .character .hp div.title,
.fight_page .character .hp div.current,
.fight_page .character .hp div.max,
.fight_page .character .hp div.temp {
	display: inline-block;
}

.fight_page .character_modifier {
	display: inline-block;
	vertical-align: top;
}

.fight_page .character_modifier .title {
	width: 130px;
}


.fight_page .character_modifier .modifier_title div {
	display: inline-block;
    height: 21px;
    line-height: 21px;
}

.fight_page .character_modifier .exp .modifier_title,
.fight_page .character_modifier .lvls .modifier_title {
	height: 22px;
	line-height: 22px;
}

.fight_page .character_modifier .value {
	width: 30px;
	margin-bottom: 3px;
}

.fight_page .character_modifier .rem,
.fight_page .character_modifier .add {
	margin: 1px 2px;
	padding: 0;
	width: 75px;
	height: 20px;
	line-height: 20px;
}

.fight_page .character_modifier .exp .rem,
.fight_page .character_modifier .exp .add,
.fight_page .character_modifier .lvls .rem,
.fight_page .character_modifier .lvls .add
{
	margin: 1px -1px;
	width: 20px;
	height: 18px;
	line-height: 18px;
}

.fight_page .character_modifier .set_damage .add {
	width: 85px;
	margin: 5px 0;
}

.fight_page .set_damage {
	display: inline-block;
	float:left;
}

.fight_page .character_modifier .main_title {
	height: 24px;
	display: inline-block;
	margin-right: 5px;
}

.fight_page .exp,
.fight_page .lvls
{
	display: inline-block;
	float:left;
	margin-left: 5px;
}

.fight_page .exp .value {
	width: 50px;
	margin-bottom: 3px;
}

.clear {
	float: clear;
}