/** Fight page */
.fight_page .character {
	display: block;
	width: 100%;
	min-height: 200px;
}

.fight_page .character_info {
	width: 200px;
	display: inline-block;
	background: purple;
	vertical-align: top;
}

.fight_page .character_info .info {
	width: 130px;
}

.fight_page .character_info .rem,
.fight_page .character_info .add {
	border: 1px solid black;
	cursor: pointer;
	text-align: center;
	margin: 0 2px;
	width: 20px;
}

.fight_page .max_hp {
	display: inline-block;
}

.fight_page .character_modifier {
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
	vertical-align: top;
}

.fight_page .character_modifier .info {
	width: 180px;
}

.fight_page .character_modifier .modifier_title div,
.fight_page .character_info .modifier_title div {
	display: inline-block;
}

.fight_page .character_modifier .hp .current {
	font-weight: bold;
}

.fight_page .character_modifier .value {
	width: 30px;
	background: gray;
	border: none;
	margin-right: 5px;
}

.fight_page .character_modifier .rem,
.fight_page .character_modifier .add {
	margin: 0 2px;
	width: 100px;
	border: 1px solid black;
	cursor: pointer;
	text-align: center;
}

.fight_page .hp {
	margin-bottom: 10px;
}

.fight_page .set_damage {
	display: inline-block;
	float:left;
}

.fight_page .exp {
	display: inline-block;
	float:left;
	margin-left: 5px;
}

.clear {
	float: clear;
}