/** Fight page */
.fight_page .character {
	display: inline-block;
	margin: 5px;
	padding: 5px;
}

.fight_page .character_info {
	display: inline-block;
	vertical-align: top;
}

.fight_page .character_info .info {
	width: 50px;
}

.fight_page .character_info .rem,
.fight_page .character_info .add {
	width: 20px;
	height: 20px;
	line-height: 20px;
	padding: 0 1px;
	margin: 1px;
}

.fight_page .max_hp {
	display: inline-block;
}

.fight_page .character_modifier {
	display: inline-block;
	vertical-align: top;
}

.fight_page .character_modifier .title {
	width: 130px;
}

.fight_page .character_modifier .modifier_title div,
.fight_page .character_info .modifier_title div {
	display: inline-block;
}

.fight_page .character_modifier .hp .current {
	font-weight: bold;
}

.fight_page .character_modifier .value {
	width: 30px;
	margin-bottom: 3px;
}

.fight_page .character_modifier .rem,
.fight_page .character_modifier .add {
	margin: 1px 2px;
	padding: 0;
	width: 75px;
	height: 20px;
	line-height: 20px;
}

.fight_page .character_modifier .exp .rem,
.fight_page .character_modifier .exp .add {
	margin: 1px 2px;
	width: 25px;
	height: 18px;
	line-height: 18px;
}

.fight_page .character_modifier .set_damage .add {
	width: 85px;	
}

.fight_page .character_modifier .hp {
	margin-bottom: 10px;
}
.fight_page .character_modifier .hp .info {
	width: 180px;
}

.fight_page .set_damage {
	display: inline-block;
	float:left;
	margin: 0 5px;
}

.fight_page .exp {
	display: inline-block;
	float:left;
	margin-left: 5px;
}

.fight_page .exp .value {
	width: 50px;
	margin-bottom: 3px;
}

.clear {
	float: clear;
}