.word_list {
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	padding: 5px;
}

.word_list ul {
	display: block;
}
.word_list ul li {
	border: 1px solid #707070;
	margin: 1px 0;
}

.word_list ul li.word div {
	display: inline-block;
	width: 130px;
	text-align: center;
}

.add_new_word {
	display: block;
	width: 500px;
	height: 70px;
	margin: 5px;
	padding: 5px;
}

.add_new_word .word_lines {
	display: inline-block;
	width: 300px;
	vertical-align: top;
}

.add_new_word .line {
	margin: 1px 0;
}

.add_new_word .title {
	display: inline-block;
	width: 110px;
	text-align: right;
}

.add_new_word .buttons {
	display: inline-block;
	width: 110px;
}

.add_new_word .buttons .btn {
	width: 100px;
	height: 20px;
	line-height: 20px;
}
